@model DAPM.Models.TbDotLu

@{
    ViewData["Title"] = "Edit Flood Event";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .btn-primary {
        margin-top: 5px;
    }
</style>
<h1>Edit Flood Event</h1>

<form asp-action="Edit" asp-controller="DOTLU" method="post" asp-route-id="@Model.IdDotLu">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="IdDotLu" />
    <div class="form-group">
        <label asp-for="TenDotLu">Tên đợt lũ</label>
        <input type="text" asp-for="TenDotLu" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="NgayBatDau">Ngày bắt đầu</label>
        <input type="date" asp-for="NgayBatDau" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="NgayKetThuc">Ngày kết thúc</label>
        <input type="date" asp-for="NgayKetThuc" class="form-control" />
    </div>
    <div class="btn">
        <button type="submit" class="btn btn-primary">Lưu</button>
        <button type="button" class="btn btn-secondary" onclick="window.history.back();">Hủy</button>
    </div>
</form>
