@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model DAPM.Models.TbDanhMuc

@{
    ViewData["Title"] = "Thêm danh mục";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="header">
    <div class="header-title">
        <h2>Quản lý danh mục hàng hóa</h2>
    </div>
    <div class="search-bar">
        <input type="text" placeholder="Search">
        <img src="/img/search.png" alt="Search" style="width: 15px;">
    </div>
    <div class="user-info">
        <div class="user-section">
            <img src="/img/user.png" alt="User" style="width: 24px;">
            <span>Admin</span>
        </div>
        <div class="notification-section">
            <img src="/img/notifi.png" alt="Notifications" style="width: 24px;">
            <span class="notification-badge">1</span>
            <!-- <div class="notification-badge"></div>  -->
        </div>
        <div class="settings-section">
            <img src="/img/setting.png" alt="Settings" style="width: 24px;">
        </div>
    </div>
</div>
<div class="table-header">
    <h2>Thêm danh mục hàng hóa</h2>
</div>


<form method="post" asp-action="Create" asp-controller="DanhMucs">

    <div class="form-container">
        <div class="form-horizontal">
            <hr />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TenDanhMuc" class="control-label">Tên danh mục</label>
                <div class="input-container">
                    <input asp-for="TenDanhMuc" class="form-control" required />
                    <div class="error-message">
                        <span asp-validation-for="TenDanhMuc" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="MoTa" class="control-label">Mô tả</label>
                <div class="input-container">
                    <input asp-for="MoTa" class="form-control" />
                    <div class="error-message">
                        <span asp-validation-for="MoTa" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="button-container">
                    <input type="submit" value="Thêm" class="btn btn-addd" />
                    <a href="@Url.Action("Index", "DanhMucs")" class="btn btn-back">Quay lại</a>
                </div>
            </div>
        </div>
    </div>
</form>
<style>
    h2 {
        text-align: center;
        width: auto;
    }

    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .form-horizontal {
        width: 50%; /* Tùy chỉnh lại kích thước phù hợp */
    }

    .form-group {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 15px;
    }

    .control-label {
        margin-left: 10%;
        text-align: start;
        justify-content: start;
    }

    .input-container input, .input-container select {
        height: 40px;
    }

    .input-container {
        margin-left: auto;
        display: flex;
        flex-direction: column;
        width: 300px;
    }

    .form-control {
        width: 100%;
    }

    .button-container {
        text-align: center;
        width: 100%;
    }

    .error-message {
        margin-top: 5px;
    }

    .btn-addd {
        background-color: #98E0FF;
        color: black;
        height: 40px;
        width: 100px;
        border: solid 1px black;
        border-radius: 10px;
    }

        .btn-addd:hover {
            background-color: lightgray;
        }

    .btn-back {
        display: inline-block;
        text-align: center;
        line-height: 40px;
        text-decoration: none;
        background-color: indianred;
        height: 40px;
        width: 100px;
        border: solid 1px black;
        color: black;
        border-radius: 10px;
    }

        .btn-back:hover {
            background-color: lightgray;
        }
</style>
