body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #fff;
    color: #333;
}

.container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 220px;
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    overflow: hidden;
}

.logo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

    .logo img {
        margin-right: 10px;
    }

    .logo span {
        font-size: 18px;
        font-weight: bold;
    }

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

    .menu li {
        position: relative;
    }

        .menu li a {
            gap: 10px;
            display: flex;
            align-items: center;
            padding: 10px;
            text-decoration: none;
            color: black;
            font-weight: bold;
            background-color: #f4f4f4;
            width: 100%;
        }

    .menu .dropdown a span i {
        margin-left: 30px;
    }

    .menu li a img {
        width: 20px;
        height: 20px;
    }

    .menu li a.active {
        background-color: #FFCC98; /* Màu xanh dương cho mục active */
        color: #333; /* Màu trắng cho chữ khi mục active */
    }

    .menu li a:hover {
        background-color: #d3d3d3; /* Màu ghi cho mục hover */
        color: #333; /* Màu chữ khi hover */
    }

.dropdown-menu {
    list-style: none;
}

    .dropdown-menu.active {
        display: none;
    }

    .dropdown-menu a {
        padding: 10px;
        display: block;
        text-decoration: none;
        color: black;
        white-space: nowrap;
    }

.dropdown a .fa-angle-left.active {
    transform: rotate(-90deg)
}

.content {
    flex-grow: 1;
    padding: 0 20px;
    background-color: #f9f9f9;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    border-radius: 5px;
    padding: 0 10px;
}

.header-title {
    display: flex;
    align-items: center;
}

    .header-title h2 {
        font-size: 20px;
        font-weight: 600;
        color: #5a5757;
        font-style: italic;
    }

.search-bar {
    display: flex;
    align-items: center;
    border-radius: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    width: 350px;
}

    .search-bar input[type="text"] {
        border: none;
        outline: none;
        margin-right: 5px;
        flex-grow: 1;
        background-color: transparent;
    }

    .search-bar img {
        cursor: pointer;
    }

.user-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.user-section, .notification-section, .settings-section {
    display: flex;
    align-items: center;
    gap: 5px;
}

.notification-section {
    position: relative;
}

.notification-badge {
    position: absolute;
    font-size: 12px;
    top: -7px;
    right: -6px;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    border-radius: 50%;
    background-color: rgb(240, 84, 84);
}

.table-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

    .table-header h1 {
        margin-bottom: 10px;
    }

.btn-add {
    align-self: flex-end;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f0f0f0;
}
