body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    overflow-x: hidden;
}

.active {
    background-color: #000f;
    color: white;
}

.container {
    height: 100vh;
    display: flex;
    width: 100%;
}

.sidebar {
    width: 250px;
    padding: 20px;
    border-right: 1px solid #ccc;
}

    .sidebar .logo {
        text-align: center;
    }

        .sidebar .logo img {
            width: 50px;
        }

        .sidebar .logo h1 {
            font-size: 18px;
        }

    .sidebar nav ul {
        list-style: none;
        padding: 0;
    }

        .sidebar nav ul li {
            margin: 20px 0;
        }

            .sidebar nav ul li a {
                text-decoration: none;
                color: #333;
                font-size: 16px;
            }

.main-content {
    flex: 1;
    padding: 20px;
    overflow-y: auto; /* Thêm thanh cuộn dọc nếu cần */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-bar {
    margin-left: 300px
}

    .search-bar input {
        width: 500px;
        padding: 10px;
        font-size: 16px;
        line-height: 14px;
        border-radius: 10px;
    }

.user-info {
    display: flex;
    align-items: center;
}

    .user-info span {
        margin-right: 10px;
    }

    .user-info i {
        width: 20px;
        height: 20px;
    }

.content {
    margin-top: 10px;
    overflow-y: auto; /* Thêm thanh cuộn dọc nếu cần */
}

    .content h1 {
        font-size: 24px;
    }

.box-title-page {
    display: flex;
    justify-content: center;
}

.box-add-btn {
    display: flex;
    justify-content: end;
    margin-bottom: 8px;
}

.add-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

    .add-button:hover {
        background-color: #0056b3;
    }

.edit-button, .delete-button {
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
    border: none;
    color: #fff;
}

.edit-button {
    background-color: #007bff;
}

    .edit-button:hover {
        background-color: #0056b3;
    }

.delete-button {
    background-color: #dc3545;
    padding: 10px 20px;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

    .delete-button:hover {
        background-color: #c82333;
    }

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

    .pagination button {
        padding: 5px 10px;
        margin: 0 5px;
        border: none;
        cursor: pointer;
    }

    .pagination .prev-button {
        background-color: #f4f4f4;
    }

    .pagination .next-button {
        background-color: #f4f4f4;
    }

    .pagination .hint-text {
        display: none;
    }

.page-link {
    padding: 5px 10px;
    margin: 0 5px;
    border: none;
    cursor: pointer;
    background-color: #f4f4f4;
}

    .page-link :hover {
        background-color: #ededed;
    }



delete-button-a {
    background-color: #FF0000;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    transition: background-color 0.3s ease;
}
